<footer class="page-footer" style="background-color: #eceff1;">

  <div style="background-color: #09f;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center" id="connected-row">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with me!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!--Linkedin -->
          <a class="fb-ic icons" href="https://www.linkedin.com/in/martin-evtimov-42b5b0204/">
            <button igxButton="icon">
              <i class="fab fa-linkedin-in"> </i>
            </button>
          </a>
          <!--Instagram-->
          <a class="fb-ic icons" href="https://www.instagram.com/m.ewtimow/">
            <button igxButton="icon">
              <i class="fab fa-instagram"> </i>
            </button>
          </a>
          <!-- Facebook -->
          <a class="fb-ic icons" href="https://www.facebook.com/m.ewtimow/">
            <button igxButton="icon">
              <i class="fab fa-facebook-f"></i>
            </button>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-lg-left mt-5" style="padding: 15px">

    <!-- Grid row -->
    <div class="row mt-3" style="color: gray;">

      <!-- Grid column -->
      <div class="col-md-12 col-lg-6 col-xl-6 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Author</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #09f;">
        <p>This WEB-Application has been created by Martin Evtimov,</p>
        <p> Associate Software Developer @ <a href="https://infragistics.com">Infragistics</a>.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-12 col-lg-3 col-xl-3 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Navigation</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #09f;">
        <p>
          <a routerLink="/home" style="color: #09f;">Home</a>
        </p>
        <p>
          <a href="http://fdiba.tu-sofia.bg/bg/" style="color: #09f;">FDIBA</a>
        </p>
        <p>
          <a href="https://tu-sofia.bg/" style="color: #09f;">Techincal University of Sofia</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-12 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contacts</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #09f;">
        <p>
          <i class="fas fa-home mr-3"></i>София 1756, бул. Кл. Охридски 8 Блок 10, Етаж 2
        </p>
        <p>
          <i class="fas fa-envelope mr-3"></i>servicedesk@fdiba.tu-sofia.bg
        </p>
        <p>
          <i class="fas fa-phone mr-3"></i>+359 2 965 3213
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3" style="background-color: #454d55;">© 2020
    Copyright:
    <a routerLink="/home" style="color: #09f;"> FDIBA Teaching Assignments</a>
  </div>
  <!-- Copyright -->

</footer>
