.button_submit {
  margin-top: 10px;
  margin-left: 10px;
}

.dialog-container {
  width: 100%;
  display: flex;
}

.dialog-close {
  margin-left: auto;
  height: 27px;
  width: 30px;
}

.key {
  margin-right: 15px;
}

.resetPasswordForm {
  padding: 0 24px 40px;
}

.buttons-row {
  margin-top: 25px;
  padding-bottom: 0;
}
