<app-panel-layouts>
  <a class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="manage-assignments">Manage
    Assignments</a>
  <a class="list-group-item list-group-item-action" routerLinkActive="active"
    routerLink="manage-state-and-semesters">Manage State And Semesters</a>
  <a class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="manage-specialties">Manage
    Specialties</a>
  <a class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="manage-subjects">Manage
    Subjects</a>
  <a class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="manage-users">Manage Users</a>
  <a class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="manage-home-page">Manage Home
    Page</a>
</app-panel-layouts>