<div *ngIf="isLoading" class="my-overlay">
  <app-loading-spinner></app-loading-spinner>
</div>
<ng-container *ngIf="message">
  <app-error-message [message]="message" (close)="handleError()"></app-error-message>
</ng-container>
<article class="input-group-form">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <h6>Change Password</h6>
    <igx-input-group>
      <input #currPass igxInput name="currPassword" type="password" formControlName="currPassword" />
      <label igxLabel for="currPassword">Current Password</label>
      <igx-suffix>
        <igx-icon fontSet="material" class="visible-icon" (pointerdown)="showPass(currPass)"
          (pointerup)="hidePass(currPass)">visibility_on</igx-icon>
      </igx-suffix>
      <igx-hint *ngIf="!changePasswordForm.get('currPassword').valid && changePasswordForm.get('currPassword').touched">
        Please enter your current Password!
      </igx-hint>
    </igx-input-group>
    <igx-input-group>
      <input #newPass igxInput name="newPassword" type="password" formControlName="newPassword" />
      <label igxLabel for="newPassword">New Password</label>
      <igx-suffix>
        <igx-icon fontSet="material" class="visible-icon" (pointerdown)="showPass(newPass)"
          (pointerup)="hidePass(newPass)">visibility_on</igx-icon>
      </igx-suffix>
      <igx-hint *ngIf="!changePasswordForm.get('newPassword').valid && changePasswordForm.get('newPassword').touched">
        Please enter a valid password! (more than 6 chars)</igx-hint>
    </igx-input-group>
    <igx-input-group>
      <input #repeatedPass igxInput name="repeatedPassword" type="password" formControlName="repeatedPassword" />
      <label igxLabel for="repeatedPassword">Repeat New Password</label>
      <igx-suffix>
        <igx-icon fontSet="material" class="visible-icon" (pointerdown)="showPass(repeatedPass)"
          (pointerup)="hidePass(repeatedPass)">visibility_on</igx-icon>
      </igx-suffix>
      <igx-hint
        *ngIf="!changePasswordForm.get('repeatedPassword').valid && changePasswordForm.get('repeatedPassword').touched">
        Please repeat your new Password correctly!</igx-hint>
    </igx-input-group>
    <div class="buttons-row">
      <span></span>
      <div class="buttons-wrapper">
        <button class="button_submit" igxButton="raised" igxRipple="white" type="submit"
          [disabled]="!changePasswordForm.valid">Submit</button>
      </div>
    </div>
  </form>
</article>
